<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale-1.0">
        <title>Backend API</title>
    </head>

    <style>
        .div-1 {
            
            border: 10px ;
            padding: 15px;
            background: lightblue;
            background-clip: border-box;
        }
        
        .div-2 {
            
            border: 10px ;
            padding: 15px;
            background: #ABBAEA;
            background-clip: border-box;
        }
        
    </style>

    <body>
        <h2>Backend API Doc</h2>

        <li><a href="/">back</a></li>
        <br/>
        <br/>

        <div class="div-1"> 
            <h3>Users</h3>
            <h4><b>GET:</b> /users</h4>
            <h4><b>POST:</b> /users/add</h4>
        </div>
        <br/>
        <div class="div-2">
            <h3>Feedbacks</h3>
            <h4><b>GET:</b> /feedbacks</h4>
            <h4><b>POST:</b> /feedbacks/add</h4>
        </div>
        

    </body>


</html>