<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale-1.0">
        <title>Backend Home</title>
    </head>

    <body>
        <h2>Backend Doc</h2>
        <p>select the specific link</p>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/apis">APIs</a></li>
        </ul>
    </body>


</html>